html, body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #ffffff;
}

.blog_logo {
    margin-left: 30px;
    margin-top: 0;
    grid-area: logo;
}

.blog_header a {
    text-decoration: none;
    color: #898B8A;
    transition: 0.5s all;
}

.blog_logo img {
    height: 50px;
    margin: 10px -20px;
}

.blog_nav {
    padding-top: 35px;
    padding-right: 280px;
    font-weight: 400;
    font-size: 17px;
    grid-area: menu;
}

.banner p{
    grid-area: large-text
}

.banner h6{
    grid-area: small-text
}

.banner a{
    grid-area: banner-image
}

.banner {
    grid-area: banner;
    width: 100%;
    height: 400px;
    border-top: 1px solid #898B8A;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas:
            "large-text banner-image"
            "small-text banner-image";
}

.blog_nav ul {
    list-style: none;
    color: #898B8A;
    padding: 0;
    margin: 0;
}
.blog_nav ul a:hover {
    font-weight: 750;
    color: #393E46;
    font-size: 20px;

}
.blog_menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.blog_menu li {
    width: 113px;
}

.blog_header {
    background-color: #F9F9F9;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas:
            "logo menu"
            "banner banner";
    box-shadow: 0px 1px 9px 1px #898B8A;
}

.banner p {
    font-size: 40px;
    font-weight: 500;
    margin-left: 150px;
    margin-top: 90px;
    color: #898B8A;
    line-height: 35px;
}

.banner img {
    height: 330px;
    margin-top: 20px;
}

.banner h6 {
    margin-left: 150px;
    color: #898B8A;
    margin-bottom: 155px;
}

.section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 36px;
    padding-right: 72px;
    padding-left: 72px;
    margin: 40px 0px;
}

.div_card_image {
    grid-area: card_image;
}

.user_info {
    grid-area: info;
    margin-top: 4px;
     color: #898B8A;
}

.count {
    grid-area: count;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4px;
     color: #898B8A;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas:
            "card_image card_image"
            "info count";

}

.img_card_image {
    height: 304px;
    width: 395px;
    border-radius: 4px;
    box-shadow: 0px 1px 9px 1px #898B8A;;
}

.footer_links {
    grid-area: links;
    display: grid;

}


.footer_social {
    grid-area: social_media;

}

.copyright {
    grid-area: copyright;

}

.footer {
    background: #e3e3e3;
    padding: 10px 0 0 0 ;
    border-top: 2px solid #d1d1d1;
    color: #898B8A;

}

.container_footer {
    color: #777777;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas:
            "links social_media"
            "copyright copyright";
    gap: 80px;
}

.footer_links ul , .footer_social ul {
    list-style: none;
    padding: 0;
    margin-left: 250px;
    display: grid;
    grid-template-columns: repeat(4, 0.2fr);

}

.footer_links ul a{
    transition: 0.3s all;
    text-decoration: none;
    color: #777777;
    font-weight: 700;
}

.footer_links h3, .footer_social h3 {
    text-align: center;
}

.footer_links ul a:hover {
    font-weight: 750;
    color: #393E46;
    font-size: 20px;

}

.footer_social i {
    font-size: 30px;
    margin-top: 8px;
    transition: 0.3s all;
    color: #898B8A;
}

.footer_social i:hover {
    color: #393E46;
}

.copyright  {
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
}

.about_card_text {
    grid-area: about-text;
}

.about_card_image{
    grid-area: about-image;
}

.about_card_about {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas:
            "about-text about-image";
    margin-top: 20px;
}

.about_card_about p {
    font-size: 25px;
    font-weight: 500;
    margin-left: 150px;
    margin-top: 0px;
    color: #898B8A;
    line-height: 35px;
}

.about_card_about img {
    height: 380px;
    margin-top: 20px;
    margin-left: 25px;

}

.about_card_about h1 {
    margin-top: 140px;
    margin-left: 170px;
    font-size: 30px;
}

.header_contact {
    grid-area: header-contact;
    width: 500px;
    margin: 40px auto 20px;
}

.form-contact {
    grid-area: form-contact;
    width: 500px;
    margin: auto;
}

.container_contact{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;
    grid-template-areas:
            "header-contact"
            "form-contact";
}

.form-contact label {
    grid-area: label;
}

.form-contact input {
    grid-area: input;
    height: 40px;
    border-top: 2px solid #d1d1d1;
    border-radius: 3px;
    margin: 8px 0px;
}

.form-contact div {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;
    grid-template-areas:
            "label"
            "input";
}

.form-contact textarea {
    grid-area: input;
        height: 80px;
    border-radius: 3px;
    margin: 8px 0px;
}

.save_button {
  width: 100%;
  border: none;
  background-color: #141414;
  color: white;
  transition: all 0.4s;
}
.save_button:hover {
  background-color: #6D8B74;
}

.card_header {
    grid-area: card-header;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 600px;
        margin-top: 60px;
}

.card_img_text {
    grid-area: card-img-text;
    margin: 20px 400px;
}

.card_img_text p {
    font-size: 20px;
        margin: 20px 160px;
}

.post {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;
    grid-template-areas:
            "card-header"
            "card-img-text";
}

.post_count {
        margin-left: 150px;
}

.similar_post {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
            "card_image card_image"
            "info count";
    margin: 50px 45px;
    padding-top: 50px;
    border-top: 1px solid #d1d1d1;
}

@media only screen and (max-width: 1808px) {
    .img_card_image {
        height: 260px;
        width: 300px;
    }
}

@media only screen and (max-width: 1440px) {
    .img_card_image {
        height: 260px;
        width: 300px;
    }
}

@media only screen and (max-width: 1024px) {
    .blog_nav {
        padding-left: 100px;
    }

    .section {
        grid-gap: 25px;
    }

    .user_info {
        font-size: 12px;
    }

    .img_card_image {
        height: 200px;
        width: 190px;
    }
    .count {
        font-size: 12px;
    }
    .footer_links ul, .footer_social ul {
        margin-left: 100px;
    }
    .banner img {
    height: 290px;
}
}
@media only screen and (max-width: 768px) {
    .blog_nav {
        padding-left: 70px;
    }

    .blog_menu li {
        width: 70px;
        font-size: 15px;
    }
    .banner img {
    height: 200px;
    }

    .img_card_image {
    height: 170px;
    width: 150px;
}
    .section {
    padding-right: 50px;
    padding-left: 50px;
}
    .user_info {
    font-size: 11px;
}
    .footer_links ul, .footer_social ul {
    margin-left: 65px;
    gap: 25px;
}
    .copyright {
    font-size: 15px;
}
}