<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Awesome Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/media/style.css">
</head>
<body>
    <header class="blog_header">
        <div class="blog_logo">
            <a href="/">
                <img src="/media/design_photos/logo.svg" alt="logo">
            </a>
        </div>

        <nav class="blog_nav">
            <ul class="blog_menu">
                <li><a href="/home">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="#">Hire Designers</a></li>
                <li><a href="#">Go Pro</a></li>
            </ul>
        </nav>
    </header>
    <section class="post">
        <div class="card_header">
             <div class="post_user_info">
                <a>
                    <i class="fa-solid fa-user"></i>
                    <span class="post_name"> Agriculture App Design Concept</span>
                </a>
            </div>
            <div class="post_count">
                <div>
                    <i class="fa-solid fa-heart"></i>
                    <span>124</span>
                    <i class="fa-solid fa-eye"></i>
                    <span>254</span>
                </div>
            </div>
        </div>
        <div class="card_img_text">
            <img src="/media/design_photos/post.webp">
            <p>
                Farming doesn't limit your resources to regular tools from wood and metal. This concept represents
                an app that provides all necessary data for getting heavy crops. </br> </br> </br>
                It shows a weather forecast, special notes about the user's fields, clear diagrams, and characteristics
                . Now instead of googling for ten minutes, you can open one app and prepare your crops. </br> </br> </br>
                Visit the website for more conceptzilla.com
            </p>
        </div>
    </section>
    <div class="similar_post">
       {% for card in cards %}
        <div class="card">
                <div class="div_card_image">
                    <a href="/post/"> <img class="img_card_image" src="/media/design_photos/card1.webp"></a>
                </div>
            <div class="user_info">
                <a>
                    <i class="fa-solid fa-user"></i>
                    <span class="name"> {{card.name}}</span>
                </a>
            </div>
            <div class="count">
                <div>
                    <i class="fa-solid fa-heart"></i>
                    <span>{{card.like}}</span>
                </div>
                <div>
                    <i class="fa-solid fa-eye"></i>
                    <span>{{card.view}}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <footer class="footer">
        <div class="container_footer">
            <div class="footer_links">
                <h3>Sitemap</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </div>
            <div class="footer_social">
                <h3>Social Networks</h3>
                <ul>
                    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                     <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                     <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                     <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                </ul>
            </div>

            <div class="copyright">
                <span> Copyright &copy; 2022 Mart Blog. All Rights Reserved. </span>
            </div>
        </div>
    </footer>

</body>
</html>