<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Awesome Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/media/style.css">
</head>
<body>
    <header class="blog_header">
        <div class="blog_logo">
            <a href="/">
                <img src="/media/design_photos/logo.svg" alt="logo">
            </a>
        </div>
        <nav class="blog_nav">
            <ul class="blog_menu">
                <li><a href="/home">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="#">Hire Designers</a></li>
                <li><a href="#">Go Pro</a></li>
            </ul>
        </nav>
    </header>

    <section class="container_contact">
        <div class="header_contact">
            <h1>Questions, Comments, or Concerns?</h1>
            <p>Use the form below to get in touch. Our office hours are Monday through Friday, 9 am to 5 pm Eastern, and we attempt to respond to support requests within 1 business day.</p>
        </div>
        <div class="form-contact">
            <form>
                <div >
                    <label>Your email address</label>
                    <input >
                </div>
                 <div>
                    <label>First Name</label>
                    <input >
                </div>
                 <div>
                    <label>Dribbble Username</label>
                    <input >
                </div>
                 <div>
                    <label>Subject</label>
                    <input >
                </div>
                 <div>
                    <label>Message</label>
                    <textarea></textarea>
                </div>

                <input class='save_button' type="submit" value="Submit">
            </form>
        </div>
    </section>

    <footer class="footer">
        <div class="container_footer">
            <div class="footer_links">
                <h3>Sitemap</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </div>
            <div class="footer_social">
                <h3>Social Networks</h3>
                <ul>
                    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                     <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                     <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                     <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                </ul>
            </div>

            <div class="copyright">
                <span> Copyright &copy; 2022 Mart Blog. All Rights Reserved. </span>
            </div>
        </div>
    </footer>

</body>
</html>